.servicetitlesection {
    padding-top: 0px;
    padding: 10px;
}
.card-container .card{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}




@media (max-width: 900px) {
    .whatwedorow {
        display: none;
    }
    .card-container .card{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
  }